@media screen and (max-width: 1229px) {

    /*=============== HEADER & NAV ===============*/
    .header__logo {
        margin: 0;
    }

    .header__menu {
        margin: 0;
    }

    /*=============== MAIN ===============*/
    .main {
        padding: 0 20px 420px 20px;
    }

    .main__container {
        position: relative;
        justify-content: start;
    }

    .main__info {
        text-align: left;
    }

    .main__image {
        position: absolute;
        left: 20%;
        top: 75%;
    }

    /*=============== MAIN ===============*/
    .about__container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 1024px) {

    /*=============== ABOUT ===============*/
    .about__container {
        text-align: center;
    }

    .about__image {
        align-content: center;
        justify-self: center;
    }

    .about__image-img {
        width: 300px;
    }

    .about__us-card {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .about__container {
        grid-template-columns: 1fr;
    }

    .about__us {
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / span 1;
    }

   /*  .full-width {

    }

    .sub-grid {

    } */

}

@media screen and (max-width: 768px) {

    /*=============== HEADER & NAV ===============*/
    .header__container {
        justify-content: start;
        padding: 0 15px;
    }

    .header__logo {
        margin-right: 103px;
    }

    .header__phone {
        display: none;
    }

    /*=============== MAIN ===============*/
    .main {

    }

    .main__image {
        position: absolute;
        left: calc(50% - 130px);
        top: 100%;
    }

    /*=============== MAIN ===============*/
    .about__container {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        text-align: center;
        justify-content: center;
        justify-items: center;
        grid-gap: 60px;

    }

    .about__info {
        order: 1;
        max-width: 550px;
    }


    .about__image {
        order: 2;
    }

    .about__us {
        order: 3;
    }
}

@media screen and (max-width: 576px) {

    /*=============== HEADER & NAV ===============*/
    .header__container {
        padding: 0 15px 0 15px;
        justify-content: space-between;
    }

    .header__menu {
        display: none;
        margin-top: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #000000d1;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 15px auto;
    }

    .menu__item:not(:last-child) {
        padding-bottom: 50px;
    }

    .header__menu.open {
        display: flex;
        align-items: center;
    }

    .menu__close {
        display: block;
        width: 24px;
        height: 24px;
        fill: rgb(235, 168, 177);
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .header__burger {
        display: flex;
    }

    /*=============== MAIN ===============*/
    .main {
        padding: 0 20px 288px 20px;
    }

    .main__container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main__info {
        text-align: center;
    }

    .main__title {
        font-size: 32px;
        font-family: Tavolga, sans-serif;
        color: rgb(255, 255, 255);
        margin-bottom: 40px;
    }

    .main__text {
        font-size: 16px;
        font-family: Tavolga, sans-serif;
        color: rgb(255, 255, 255);
        margin-bottom: 40px;
    }

    .main__action {
        margin-bottom: 38px;
    }

    .main__image-img {
        width: 250px;
    }

    .main__image::before {
        width: 100px;
        height: 100px;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
    }

    .main__image::after {
        width: 100px;
        height: 100px;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
    }

    /*=============== ABOUT ===============*/
    .about {
        padding: 100px 0;
    }

    .about__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about__title {
        font-size: 30px;
        font-family: Tavolga, sans-serif;
        color: rgb(51, 25, 7);
        max-width: 316px;
    }

    .about__text {
        font-size: 16px;
        font-family: Gilroy, sans-serif;
        color: rgb(51, 25, 7);
        max-width: 346px;
    }

  /*   .full-width {
        margin-top: 20px;
    }

 /*   .sub-grid {
        gap: 40px;
    } */

    .about__us {
        gap: 40px;
    }

    .about__us-card {
        max-width: 165px;
    }

    .about__us-title {
        font-size: 18px;
        font-family: GilroyExtraBold, sans-serif;
        color: rgb(51, 25, 7);
    }

    .about__us-text {
        font-size: 13px;
        font-family: GilroyMedium, sans-serif;
        color: rgb(51, 25, 7);
    }
}