/*=============== FONTS ===============*/
@font-face {
    font-family: Tavolga;
    src: url("../fonts/tavolga-free.ttf");
}

@font-face {
    font-family: GilroyRegular;
    src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: GilroyMedium;
    src: url("../fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: GilroyBold;
    src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: GilroyExtraBold;
    src: url("../fonts/Gilroy-Extrabold.ttf");
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.btn {
    background-image: -moz-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    padding: 20px;
    font-family: GilroyBold, sans-serif;
    color: rgb(255, 255, 255);
    transition: 1s ease;
}

.btn:hover {
    box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.base-input {
    border-width: 1px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    color: rgb(119, 94, 49);
    padding: 23px 22px 24px 22px;
    outline: none;
    border-color: rgb(130, 19, 40);
    border-radius: 30px;

}

/*=============== HEADER & NAV ===============*/
.header {
    padding: 36px 0 30px 0;
    background-color: #eba8b1;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin-right: 233px;
}

.header__menu {
    margin-right: 329px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.menu__item {
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: all 0.5s ease;
}

.menu__item:hover {
    border-bottom: 2px solid #821328;
}

.menu__link {
    font-size: 14px;
    font-family: GilroyMedium, sans-serif;
    color: rgb(119, 11, 29);
    font-weight: 600;
}

.header__phone {
    font-size: 16px;
    font-family: GilroyBold, sans-serif;
    color: rgb(255, 255, 255);
}

.header__burger {
    display: none;
}

.menu__close {
    display: none;
}

/*=============== MAIN ===============*/
.main {
    padding: 126px 0 108px 0;
    background-color: #eba8b1;
    overflow: hidden;

}

.main__container {
    display: flex;
    justify-content: space-around;
}

.main__info {
    max-width: 580px;
}

.main__title {
    font-size: 55px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 60px;
}

.main__text {
    font-size: 18px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 80px;
}

.main__btn {
    width: 240px;
    height: 60px;
    font-size: 18px;

}

.main__image {
    z-index: 0;
    position: relative;
}

.main__image::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -1;
    animation: pulse 3s infinite;
    background-color: transparent;
    border: 1px solid rgba(131, 27, 27, 0.71);
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

.main__image::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -1;
    animation: pulse 3s 0.5s infinite;
    background-color: transparent;
    border: 1px solid rgba(131, 27, 27, 0.71);
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

@keyframes pulse {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        transform: scale(2.8);
        opacity: 0;
    }
}

.main__image-img {
    max-width: 100%;
}

/*=============== ABOUT ===============*/
.about {
    padding: 120px 0 120px 0;
    background-color: #ffefef;
}

.about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки равной ширины */
    gap: 20px; /* Промежуток между блоками */
    margin: 0 auto; /* Центрирование контейнера */
}

.about__us {
    display: grid;
    order: 3;
    grid-template-columns: repeat(4, minmax(0, 220px)); /* Две колонки с максимальной шириной 220px */
    gap: 80px; /* Промежуток между подблоками */
    text-align: center;
    margin-top: 80px;
    grid-column: 1 / span 2; /* Растянуть блок на 2 колонки */
}

.about__us-card {
    text-align: left;
}

.about__us-card:hover .circle-number {
    color: #821328;
}

.about__us-card:hover .circle {
    background-color: #eba8b1;
}

.about__us-title {
    font-size: 20px;
    font-family: GilroyExtraBold, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 2.25;
    margin-bottom: 20px;
}

.about__us-text {
    font-size: 15px;
    font-family: GilroyMedium, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.333;
}

.circle {
    border-radius: 50%;
    background-color: rgb(130, 19, 40);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: self-end;
    margin-bottom: 13px;
    transition: all 0.5s ease;
}

.circle-number {
    font-size: 60px;
    font-family: GilroyExtraBold, sans-serif;
    color: #fff;
    line-height: 0.75;
    transition: all 0.5s ease;
}

.about__title {
    font-size: 45px;
    font-family: Tavolga, sans-serif;
    color: rgb(51, 25, 7);
    max-width: 480px;
    line-height: 1.222;
    margin-bottom: 60px;
}

.about__text {
    font-size: 18px;
    font-family: Gilroy, sans-serif;
    color: rgb(51, 25, 7);
    max-width: 400px;
    line-height: 1.556;
}

.about__image {
    display: grid;
    align-content: flex-end;
}

/*=============== CHOOSE ===============*/
.choose {
    padding: 120px 0;
    background-color: #eba8b1;
}

.choose__title {
    font-size: 45px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 80px;
    text-align: center;
}

.choose__menu {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 260px)); /* Две колонки с максимальной шириной 260px */
    gap: 29px; /* Промежуток между подблоками */
    grid-column: 1 / span 2; /* Растянуть блок на 2 колонки */
}

.choose__menu-card {
    border: 2px solid #fff;
    border-radius: 20px;
    max-width: 260px;
    text-align: center;
    position: relative;
    padding: 109px 21px 27px 21px;
}

.choose__menu-card:hover .choose__image-img {
    transform: scale(1.2);

}

.choose__image-img {
    position: absolute;
    transition: transform 1s ease;
    left: calc(50% - 90px);
    top: -25%;
}

.choose__menu-title {
    font-size: 18px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 26px;
}

.choose__menu-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 26px;
}

.choose__menu-amount {
    font-size: 15px;
    font-family: Gilroy, sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: left;
}

.choose__btn {
    width: 130px;
    height: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*=============== ORDER ===============*/
.order {
    padding: 98px 0 120px 0;
    background-color: #ffefef;
}

.order__container {
    display: flex;
    gap: 162px;
    position: relative;
}

.order__image {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.order__image-img {
    max-width: 408px;
}

.order__block {
    display: flex;
    flex-direction: column;
    max-width: 406px;
    position: relative;
}

.order__text-title {
    font-size: 45px;
    font-family: Tavolga, sans-serif;
    color: rgb(51, 25, 7);
    margin-bottom: 41px;
}

.order__text-message {
    font-size: 18px;
    font-family: GilroyRegular, sans-serif;
    color: rgb(51, 25, 7);
    margin-bottom: 8px;
}

.order__desc {
    margin-top: 40px;
    font-size: 18px;
    font-family: GilroyBold, sans-serif;
    color: rgb(18, 10, 6);
    margin-bottom: 20px;
}

.order__form {
    display: flex;
    flex-direction: column;
}

.order__base-input {
    margin-bottom: 15px;
    width: 295px;
    height: 60px;
    background-color: transparent;
}

.order__base-input::placeholder {
    font-size: 15px;
    font-family: GilroyBold, sans-serif;
    color: rgb(118, 12, 34);
}

.order__btn {
    width: 295px;
    height: 60px;
}

.order__left-image-img {
    position: absolute;
    top: 90px;
    animation: moveUpDown 3s 0s infinite alternate;
}

.order__right-image-img {
    width: 50px;
    position: absolute;
    bottom: 80px;
    right: 10px;
    animation-delay: 0.5s;
    animation: moveUpDown 3s 0.5s infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

/*=============== FOOTER ===============*/
.footer {
    padding: 80px 0 70px 0;
    background-color: #c0707c;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.footer__info {
    position: relative;
}

.footer__logo {
    display: block;
    margin-bottom: 19px;
}

.footer__rights {
    font-size: 12px;
    font-family: GilroyRegular, sans-serif;
    color: rgb(227, 172, 180);

}

.footer__socials {
    text-align: center;
}

.footer__instagram {
    margin-top: 15px;
    font-size: 16px;
    font-family: GilroyBold, sans-serif;
    color: rgb(255, 255, 255);
}

.footer__contacts {
    font-size: 16px;
    font-family: GilroyBold, sans-serif;
    color: rgb(255, 255, 255);
}

/*=============== GIFT ===============*/
.footer__action-image {
    position: fixed;
    bottom: 29px;
    right: 28px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: radial-gradient(#d7485c, #71081e);
    cursor: pointer;
    z-index: 20;
}

.footer__action-image:hover {
    box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.footer__action-img {
    left: 20%;
    top: 20%;
    width: 53px;
    height: 52px;
    position: relative;
}

.footer__action {
    position: relative;
    border-width: 2px;
    border-color: rgb(119, 10, 29);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(254, 239, 238);
    width: 146px;
    height: 64px;
    bottom: -110px;
    right: 195px;
    padding: 0 4px;
    transition: .6s;
}

.footer__action-square {
    position: relative;
    rotate: 45deg;
    border: none;
    border-right: 2px solid rgb(119, 10, 29);
    border-top: 2px solid rgb(119, 10, 29);
    background: rgb(254, 239, 238);
    width: 13px;
    height: 13px;
    right: -133px;
    top: 35%;
}

.footer__action-text {
    display: block;
    font-size: 15px;
    font-family: GilroyMedium, sans-serif;
    color: rgb(119, 10, 29);
}

.footer__action-image:hover .footer__action{
    transform: translateY(-155px);
}

